$fweights: 300, 400, 500, 600, 700, 800, 900;
$border-radius: 4px;

// Sidebar
$sideBarWidth: 262px;
$sideBarBoxWidth: 240px;
$sideBarBoxBorderRadius: 20px;

$shadowCard: 0px 0px 8px 15px rgba(0, 0, 0, 0.05);
$brCard: 15px;

// Card Schedule
$scheduleCardBorderRadius: 8px;
$scheduleCardShadow: 0px 20px 70px rgba(0, 0, 0, 0.1);
