@import '../../../../../shared/application/theme/colors';

.edit-time-availability {
	width: 100%;
	max-width: 1100px;

	> .scheduler-title {
		@extend .color-secondary-900t;
		font-size: 39px;
		line-height: 45px;
		letter-spacing: -2px;
		margin-bottom: 16px;
		margin-top: 60px;
	}

	> .scheduler-description {
		@extend .color-secondary-700t;
		font-size: 16px;
		margin-bottom: 38px;
	}

	> .time-availability {
		> .schedule-message {
			@extend .color-black;
			margin-bottom: 20px;
		}

		> .appointment-type {
			> .multi-selection {
				> .container-text {
					@extend .color-black;
					font-size: 16px;
					font-weight: bold;
					font-family: 'DM Sans';
				}
			}

			margin-bottom: 20px;
		}

		> .day-scheduler {
			display: flex;
			justify-content: center;
			flex-direction: column;
			@extend .bg-white;
			border-radius: 16px;
		}

		> .footer-btn {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			@extend .bg-white;

			> .button-edit-time-availability {
				height: 44px;
				font-size: 1.3rem;
				font-weight: 700;
				line-height: 18px;
				border-radius: 8px;
				align-self: flex-end;
				padding: 12px 16px;
				margin-right: 24px;
				margin-bottom: 30px;
			}
		}
	}
}
