@import 'src/shared/application/theme/colors';

.show-more-card-container {
	display: grid;
	grid-template-rows: [header] auto [body] 1fr [end];
	gap: 24px;

	> .header {
		grid-row-start: header;
		grid-row-end: body;

		display: flex;
		justify-content: space-between;
		align-items: center;

		> .title {
			font-size: 16px;
			@extend .color-secondary-900t;
		}

		> .redirect {
			@extend .color-secondary-700t;
			cursor: pointer;
			user-select: none;
		}
	}

	> .body {
		border-radius: 20px;
		grid-row-start: body;
		grid-row-end: end;
		width: 100%;
	}
}
